.dashboard-comp {
	padding-top: 20px;
}

.document {
	width: 250px;
	height: 320px;
	display: inline-block;
	margin: 10px;
	border-radius: 10px;
	text-decoration: none;
	transition: 0.15s ease-in-out;
	vertical-align: middle;
}

.documentDiv {
	border: 2px solid #000;
	text-align: center;
}

.documentDiv > div:first-child {
	height: 268px;
	width: 100%;
	display: inline-block;
	background-color: #2b71ff;
	background-image: url('./background.png');
	background-position: center;
	background-repeat: no-repeat; 
	background-size: cover;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

.documentDiv > div:first-child > img {
	width: 100px;
	margin-left: 25px;
	margin-top: 60px;	
}

.documentDiv > div:first-child > p {
	color: #fff;
	width: 90%;
	display: inline-block;
	min-height: 50px;
}

.documentDiv > div:last-child {
	height: 120px;
	width: 100%;
	display: inline-block;
}

.documentDiv > div:last-child > input {
	height: 45px;
	width: calc(90% - 10px);
	margin: 2.5px 2.5% 2.5px 2%;
	border-radius: 10px;
	border: 1px solid #000;
	font-size: 16px;
	padding: 0px 7.5px 0px 2.5px;
}

.documentDiv > div:last-child > button {
	height: 52.5px;
	display: inline-block;
	width: 100%;
	font-size: 16px;
	font-weight: 500;
	border: 2px solid transparent;
}

.statButton {
	border-top: 1px solid #000;
}

.documentDiv > div:last-child > button:last-child {
	background-color: #2b71ff;
	color: #fff;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	transition: 0.15s ease-in-out;
}

.documentDiv > div:last-child > button:last-child:hover {
	background-color: #4BC68B;
}

.documentDiv > div:last-child > input {
	width: 1px;
	height: 1px;
	position: absolute;
	background-color: transparent;
	border: none;
}

.create {
	height: 320px;
	width: 250px;
	background: linear-gradient(90deg, #ccc 50%, transparent 50%), linear-gradient(90deg, #ccc 50%, transparent 50%), linear-gradient(0deg, #ccc 50%, transparent 50%), linear-gradient(0deg, #ccc 50%, transparent 50%);
	text-align: center;
	cursor: pointer;
	background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
	background-size: 16px 4px, 16px 4px, 4px 16px, 4px 16px;
	background-position: 492px 0px, 0px 313px, 0px 0px, 243.4px 266px;
	transition: background-position 5s;
	border: none;
}

.create:hover {
	background-position: 332px 0px, 200px 313px, 0px 200px, 243.4px 0px;
}

.create > h2 {
	color: rgb(179, 179, 179);
	font-size: 26px;
	line-height: 268px;
	transition: 0.15s ease-in-out;
}

@keyframes dash {
	to { stroke-dashoffset: -5; }
}

.create:hover > h2 {
	color: #000;
}

.dashboardOverlay {
	background-color: rgba(0, 0, 0, 0.45);
}

.dashboardModal {
	height: 600px;
	width: 100%;
	border-radius: 20px;
	padding: 0px;
}

.dashboardModal > div {
	display: inline-block;
	width: 100%;
	height: 100%;
	text-align: center;
}

.dashboardModal > div > div {
	display: inline-block;
	height: 100%;
	width: 100%;
}

/* Global modal setup */
.dashboardModal > div > div > div:first-child {
	display: inline-block;
	width: 100%;
	height: calc(100% - 100px);
	background-color: #2b71ff;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.dashboardModal > div > div > div:nth-child(2) {
	display: inline-block;
	width: 100%;
	height: 100px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.dashboardModal > div > div > div:first-child > h1 {
	color: #fff;
	font-weight: 600;
	font-size: 36px;
}

.dashboardModal > div > div > div:first-child > p {
	letter-spacing: 0.5;
	font-size: 17px;
	margin-top: -20px;
	color: rgba(255, 255, 255, 0.4)
}

.dashboardModal > div > div > div:first-child > div {
	width: 80%;
	max-width: 800px;
	height: 65px;
	background-color: #679aff;
	display: inline-block;
	border-radius: 10px;
	margin: 5px 0px 5px 0px;
	text-align: left;
	color: #fff;
}

.dashboardModal > div > div > div:first-child > div > img {
	width: 50px;
	height: 50px;
	display: inline-block;
	margin: 7.5px 0px 0px 7.5px;
}

.dashboardModal > div > div > div:first-child > div > div {
	height: 65px;
	display: inline-block;
	padding-left: 20px;
	transform: translateY(-10%);
}

.dashboardModal > div > div > div:first-child > div > div > h1 {
	font-size: 24px;
	line-height: 10px;
}

.dashboardModal > div > div > div:first-child > div > div > p {
	line-height: 0px;
	font-size: 14px;
	color: rgb(236, 236, 236);
}

.dashboardModal > div > div > div:first-child > section {
	height: 350px;
	width: 90%;
	margin-left: 5%;
	border-radius: 10px;
	border: 2px dashed #ccc;
	transition: 0.15s ease-in-out;
	cursor: pointer;
	color: #fff;
}

.dashboardModal > div > div > div:first-child > section > div > img {
	height: 64px;
	width: 64px;
	margin-top: 130px;
}

.dashboardModal > div > div > div:first-child > section > div > h2 {
	font-size: 20px;
	line-height: 0px;
}

.dashboardModal > div > div > div:first-child > section:hover {
	background-color: #4683fd;
}

.dashboardModal > div > div > div:first-child > section > div {
	display: inline-block;
	height: 350px;
	width: 100%;
}

.dashboardModal > div > div > div:first-child > button {
	border: none;
	width: 380px;
	height: 100px;
	margin: 10px 0px 0px 10px;
	border-radius: 20px;
	text-align: center;
	transition: 0.15s ease-in-out;
	cursor: pointer;
	background-color: #fff;
	color: #000;
	opacity: 0.9;
}

.dashboardModal > div > div > div:first-child > button:hover {
	opacity: 1.0;
}

.dashboardModal > div > div > div:first-child > button:focus {outline:0;}

.dashboardModal > div > div > div:first-child > button > div > img {
	height: 50px;
	width: 50px;
	margin-top: 7.5px;
}

.dashboardModal > div > div > div:first-child > button > div > h1 {
	line-height: 0px;
}

.dashboardModal > div > div > div:first-child > span {
	display: inline-block;
	width: 90%;
	display: inline-block;
}

.dashboardModal > div > div > div:first-child > span > input {
	width: calc(100% - 15px);
	height: 50px;
	border: none;
	border-radius: 10px;
	font-size: 20px;
	padding: 0px 7.5px 0px 7.5px;
}

.dashboardModal > div > div > div:first-child > span > button {
	width: 100%;
	height: 50px;
	border-radius: 10px;
	margin-top: 10px;
	background-color: transparent;
	color: #fff;
	font-size: 17px;
	font-weight: 500;
	border: 3px solid #fff;
	transition: 0.15s ease-in-out;
}

.dashboardModal > div > div > div:first-child > span > button:hover {
	background-color: #fff;
	color: #2b71ff;
}
.dashboardModal > div > div > div:nth-child(2) > button {
	text-decoration: none;
	width: calc(50% - 30px);
	padding: 15px 0px 15px 0px;
	font-weight: 500;
	border-radius: 40px;
	transition: 0.15s ease-in-out;
	font-size: 16px;
	margin: 25px 7.5px 0px 7.5px;
	cursor: pointer;
	border: 1.5px solid transparent;
}

.dashboardModal > div > div > div:nth-child(2) > button:first-child {
	border-color: rgb(179, 179, 179);
	color: rgb(179, 179, 179);
}
.dashboardModal > div > div > div:nth-child(2) > button:first-child:hover {
	border-color: #000;
	color: #000;
}
.dashboardModal > div > div > div:nth-child(2) > button:last-child {
	background-color: #2b71ff;
	color: #fff;
}
.dashboardModal > div > div > div:nth-child(2) > button:last-child:hover {
	background-color: #4BC68B;
}

.started {
	border-color: transparent !important;
	width: 90% !important;
	color: #fff !important;
}
