.header {
	display: inline-block;
	width: 100%;
	background-color: #fff;
	text-align: center;
}

.subheader {
	display: inline-block;
	height: 36px;
	width: 100%;
	background-color: #2b71ff;
	border-bottom: 2px solid #000;
}

.subheader > span {
	color: #fff;
	line-height: 38px;
	font-weight: 500;
	font-size: 15px;
}

.subheader > span > a {
	color: #fff;
	text-decoration: none;
	padding-bottom: 1px;
	border-bottom: 1px dotted #fff;
	transition: 0.15s ease-in-out;
}

.subheader > span > a:hover {
	padding-bottom: 0px;
}

.mainheader {
	display: inline-block;
	height: 50px;
	width: 100%;
	text-align: center;
	padding-top: 5px;
}

.mainheader > div:nth-child(1) {
	float: left;
	height: 100%;
	width: 200px;
}

.mainheader > div:nth-child(1) > a {
	text-decoration: none;
}

.mainheader > div:nth-child(1) > a > img {
	height: 30px;
	margin-top: 11px;
	padding-left: 20px;
}

.mainheader > div:nth-child(2) {
	float: left;
	height: 100%;
	width: calc(100% - 230px);
	text-align: left;
}

.mainheader > div:nth-child(2) > div {
	float: right;
	margin-top: 14.5px;
}

.mainheader > div:nth-child(2) > ul {
	list-style-type: none;
	height: 55px;
	float: right;
	transform: translateY(-20%) !important;
}

.mainheader > div:nth-child(2) > ul > li {
	display: inline-block;
	margin: 0px 10px 0px 10px;
}

.mainheader > div:nth-child(2) > ul > li > a {
	text-decoration: none;
	color: #000;
	font-weight: 500;
	padding-bottom: 3px;
	transition: 0.1s;
	border-bottom: 3px solid transparent;
}

.mainheader > div:nth-child(2) > ul > li > a:hover {
	border-color: #2b71ff;
}

.mainheader > div:nth-child(3) {
	display: none;
	width: 91.5%;
	top: 105px;
	left: 4.25%;
	border-radius: 5px;
	background-color: #f6f7fa !important;
	text-align: left;
	padding: 15px 0px 25px 0px;
	z-index: 9;
	position: absolute;
}

.mainheader > div:nth-child(3) > ul {
	list-style-type: none;
}

.mainheader > div:nth-child(3) > ul > li {
	margin: 15px 0px 15px 0px;
}

.mainheader > div:nth-child(3) > ul > li > a {
	text-decoration: none;
	color: #000;
	font-weight: 500;
	padding-bottom: 2px;
	transition: 0.1s ease-in-out;
}

.mainheader > div:nth-child(3) > ul > li > a:hover {
	color: #2b71ff;
}

.mainheader > div:nth-child(3) > ul > li:last-child {
	margin-top: 25px;
}

.activeLink {
	border-bottom-color: #2b71ff !important;
}

.loginButton {
	color: #fff !important;
	border: 1.7px solid #2b71ff;
	background-color: #2b71ff;
	width: 120px !important;
	height: 40px !important;
	font-size: 16px !important;
	font-weight: 500 !important;
	transition: 0.15s ease-in-out !important;
	border-radius: 10px;
	cursor: pointer;
	display: inline-block;
}

.loginButton:hover {
	background-color: #4a86ff;
	box-shadow: 0 4px 8px rgba(0,0,0,.12);
}

.profile {
	height: 30px;
	background-color: #2b71ff;
	padding: 10px 30px 0px 30px;
	font-size: 16px;
	font-weight: 500;
	border-radius: 25px;
	color: #fff;
}

/* Responsiveness */
@media screen and (min-width: 1400px) {
	.mainheader {
		width: 1200px;
	}
}

@media screen and (max-width: 800px) {
	.mainheader > div:nth-child(2) > ul {
		display: none;
	}
	.mainheader > div:nth-child(3) {
		display: inline-block;
	}
}

/* Modal */
.authOverlay {
	background-color: rgba(0, 0, 0, 0.45);
}

.authModal {
	height: 220px;
	width: 400px;
	border-radius: 20px;
	padding: 0px;
}

.authModal > div > div > div:nth-child(1) {
	background-color: #2b71ff;
	display: inline-block;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	width: 100%;
	text-align: center;
	color: #fff;
	height: 100px;
}

.authModal > div > div > div:nth-child(1) > p {
	margin-top: -20px;
}

.authModal > div > div > div:nth-child(2) > button {
	border: none;
	width: 380px;
	height: 100px;
	margin: 10px 0px 0px 10px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	text-align: center;
	background-color: #fff;
	transition: 0.15s ease-in-out;
	cursor: pointer;
}

.authModal > div > div > div:nth-child(2) > button:hover {
	background-color: rgba(195, 195, 195, 0.20);
}

.authModal > div > div > div:nth-child(2) > button > div > img {
	height: 50px;
	width: 50px;
	margin-top: 7.5px;
}

.authModal > div > div > div:nth-child(2) > button > div > h1 {
	color: rgb(12, 12, 13);
	line-height: 0px;
}
